.DS_Store
.venv/
venv/
err
.ipynb_checkpoints/
*.ipynb
__pycache__/
.idea/
#vasp outputs
POTCAR
CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
PCDAT
REPORT
WAVECAR
XDATCAR
PROCAR
vasprun.xml
AECCAR*
OUTCAR

\#*#
\#*
.#*

# Compiled Object files
src/compile.log
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# version files
version.enum
