.DS_Store
POTCAR

err
.ipynb_checkpoints/
__pycache__/

#vasp outputs
CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
OSZICAR
PCDAT
REPORT
vasprun.xml
WAVECAR
XDATCAR
PROCAR


\#*#
\#*
.#*

# Compiled Object files
src/compile.log
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# version files
version.enum
