.DS_Store
POTCAR
*.jpg
*.pdf
err
.ipynb_checkpoints/
__pycache__/
*.ipynb

#Examples folders
vasp_inputs/
enum_out/
siman_inputs/


#vasp outputs
CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
OSZICAR
PCDAT
REPORT
vasprun.xml
WAVECAR
XDATCAR
PROCAR
OUTCAR
